.bg-image-tinnitus {
	display: flex;
	width: 100%;
	position: relative;
	overflow: visible;
	margin: 0 auto;
	justify-content: center;
}

.bg-image-tinnitus img {
	width: 100%;
}

.bg-image-tinnitus::before {
	opacity: 0;
}

.bg-text-tinnitus {
	position: absolute;
	top: 100%;
	width: calc(100% - 4rem);
	left: 40%;
	transform: translate(-40%, -50%);
	background: linear-gradient(to bottom, transparent, rgb(51, 72, 120) 30%);
	backdrop-filter: none;
	padding: 4rem 2rem;
	border-radius: 0 0 1rem 1rem;
}

.bg-text-tinnitus p {
	margin-top: 2rem;
	padding-inline: 0;
	color: var(--color-white);
}

.tinnitus-content {
	margin: 4rem 0;
}

.tinnitus-content h2 {
	color: var(--color-blue);
	margin-bottom: 2rem;
}

.tinnitus-content ul {
	margin-top: 2rem;
	padding-left: 2rem;
}

.tinnitus-content li {
	margin-bottom: 1rem;
	color: var(--color-blue);
}

@media (max-width: 992px) {
	.bg-image-tinnitus {
		background: url("../img/tinnitus-logo.webp") no-repeat center center / cover;
		padding-bottom: 60rem;
	}

	.bg-text-tinnitus {
		width: calc(100% - 1rem);
		padding: 2rem 1rem;
	}
}
