.bg-image-sortiment {
	display: flex;
	width: 100%;
	position: relative;
	overflow: visible;
	margin: 0 auto;
	justify-content: center;
}

.bg-image-sortiment img {
	width: 100%;
}

.bg-image-sortiment::before {
	opacity: 0;
}

.bg-text-sortiment {
	position: absolute;
	top: 100%;
	width: calc(100% - 4rem);
	left: 40%;
	transform: translate(-40%, -50%);
	background: linear-gradient(to bottom, transparent, rgb(51, 72, 120) 30%);
	backdrop-filter: none;
	padding: 4rem 2rem;
	border-radius: 0 0 1rem 1rem;
}

.bg-text-sortiment p {
	margin-top: 2rem;
	padding-inline: 0;
	color: var(--color-white);
}

@media (max-width: 992px) {
	.bg-image-sortiment {
		background: url("../img/phonak-audeo-paradise.webp") no-repeat center center /
			cover;
		padding-bottom: 60rem;
	}

	.bg-text-sortiment {
		width: calc(100% - 1rem);
		padding: 2rem 1rem;
	}
}
